//- for loop to iterate thru array which contains the projects & display a card for each project.
.background-alt.project-container.section#projects
	h2.heading Projects
	.wrapper
		if projects
			each project, idx in projects
				.card
					if projects[idx].deploy
						//- Add function(?) that is added to deployed projects, which on click event opens that project in a modal w/ an <iframe> instead of target="_blank".
						//- add an 'X' to close the modal && feature where clicking anywhere outside of modal will also close the modal.
						//- addEventListener('click', () => { open modal w/ <iframe> });
						a.link(href='' + projects[idx].deploy + '', target='_blank' data-toggle="tooltip" data-placement="top" title="Click for demo")
							h5.card-title #{projects[idx].name}
							p.card-text
								| #{projects[idx].description}
							p.card-text
								a(href=projects[idx].repo_url target='_blank') GitHub Repo
									i.fa.fa-github(aria-hidden='true')
						a.link(href='' + projects[idx].deploy + '', target='_blank')
							img.size(src='/imgs/' + projects[idx].img + '' width='400' height='350' alt='...')
							//- hr.line
					else
						a.link(href='' + projects[idx].repo_url + '', target='_blank' data-toggle="tooltip" data-placement="top" title="Click for GitHub repo")
							h5.card-title #{projects[idx].name}
							p.card-text
								| #{projects[idx].description}
							p.card-text
								a(href=projects[idx].repo_url target='_blank') GitHub Repo
									i.fa.fa-github(aria-hidden='true')
						a.link(href='' + projects[idx].repo_url + '', target='_blank')
							img.size(src='/imgs/' + projects[idx].img + '' width='400' height='350' alt='...')
							//- hr.line
